.car-new {
  &__box {
    background-color: rgb(240, 236, 236);
    width: 1000px;
    margin: auto;
    h1 {
      text-align: center;
      font-size: 30px;
      padding: 10px 0;
    }
    p {
      font-size: 20px;
      
    }
    &__in {
      
      &__image {
        margin-bottom: 10px;
        p {
          padding-left: 50px;
        }
        &__field-box {
          text-align: center;
        }
      }
      &__car-text {
        padding-left: 50px;
        &__field {
          width: calc(100vw - 600px);
          margin-bottom: 10px;
        }
      }
      &__car-select {
        padding-left: 50px;
        select {
          height: 40px;
          width: 200px;
        }
      }
      &__submit {
        display: flex;
        justify-content: center;
        &__button {
          width: 250px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: white;
          cursor: pointer;
          font-size: 25px;
          margin-bottom: 40px;
          &:hover {
            background-color: #6dc1f1;
          }
        }
      }
    }
  }
}