.car-show {
  &__box {
    width: 1000px;
    margin: auto;
    &__images {
      margin-top: 50px;
      &__main {
        text-align: center;
        img {
          height: 500px;
          width: auto;
          
        }
      }
      &__sub {
        height: 100px;
        width: 700px;
        margin: auto;
        img {
          height: 70px;
          width: auto;
          margin: 15px;
        }
      }
    }
    &__price-name {
      ul {
        background-color:rgba(175, 168, 168, 0.8);
        display: flex;
        height: 60px;
        color: white;
        font-size: 30px;
        li:first-child {
          width: 50%;
          background-color:rgba(117, 114, 114, 0.8);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        li:last-child {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          h1 {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    &__car-show {
      display: flex;
      align-items: center;
      height: 120px;
      border-bottom: 1px dotted rgb(184, 183, 183);
      &__request {
        height: 100px;
        width: 200px;
        border: 1px solid rgb(184, 183, 183);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        text-decoration: none;
        font-size: 20px;
        color: black;
        &:hover{
          opacity: 0.5;
        }
      }
      &__show-box {
        width: 790px;
        display: flex;
        align-items: center;
        &__user {
          display: flex;
          align-items: center;
          margin-left: 10px;
          width: 37%;
          border-right: 1px solid rgb(184, 183, 183);
          &__image {
            img {
              width: 80px;
              height: 80px;
              border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                object-fit: cover; /* ADD */
            }
          }
          &__name {
            margin-left: 10px;
            p {
              color: rgb(223, 223, 62);
            }
          }
        }
        &__car {
          width: 63%;
          display: flex;
          justify-content: center;
          h1 {
            margin-left: 25px;
          }
        }
      }
    }
    &__place {
      display: flex;
      padding-top: 40px;
      font-size: 25px;
      border-bottom: 1px dotted rgb(184, 183, 183);
      &__title {

      }
      h1 {

      }
    }
    &__review-box {
        width: 780px;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 30px;
      h1 {
        text-align: center;
        margin-bottom: 13px;
      }
      &__review {
        display: flex;
        margin-bottom: 10px;
        border-bottom: 1px dotted rgb(184, 183, 183);
        &__user {
          display: flex;
          align-items: center;
          width: 180px;
          &__image {
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                object-fit: cover; /* ADD */
            }
          }
          h2 {
            margin-left: 10px;
          }
        }
        &__comment {
          display: flex;
          align-items: center;
          width: 600px;
        }
      }
    }
  }
}