.user-show {
  height: 100vh;
  &__box {
    &__image {
      
      
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          object-fit: cover; /* ADD */
      }
    }
    h1 {

    }
  }
}