.footer
  .footer__box
    %h1= link_to "Car Sharing", root_path
    %ul
      %li= link_to "プライバシーポリシー", root_path
      %li= link_to "このサイトについて", root_path
      %li= link_to "お問い合わせ", root_path
  .footer__sub
    Copyright ©️ 2020 Hideyuki Nagatani